body {
    margin: 0;
    height: 100%;
    background-image: url(./assets/Ellipse\ \(4\).svg), url(./assets/Ellipse.svg), url(./assets/Ellipse\ \(1\).svg), url(./assets/Ellipse\ \(2\).svg), url(./assets/Ellipse\ \(3\).svg);
    background-position: right top, right center, left top, left 30%, left bottom;
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}